<<<<<<< HEAD

@import url('https://fonts.googleapis.com/css?family=Mystery+Quest|Oxygen:300,400,700');

body {
	background-image: url("header.jpg");
    background-color: #cccccc;
	padding: 2em;
	margin: 2em;
}

h1 {
	color: #333333;
	font-size: 2em;
	font-family: 'Oxygen', sans-serif;
}

p {
	color: #333333;
	font-size: 1.8em;
	font-family: 'Oxygen', sans-serif;
	line-height: 1.5em;
	}

ol {
    text-align: center;
    list-style-type: none;
	font-family: 'Oxygen', sans-serif;
}

#slogan {
	color: #ffffff;
	font-size: 2em;
	font-family: 'Oxygen', sans-serif;
}


=======
@import url('https://fonts.googleapis.com/css?family=Mystery+Quest|Oxygen:300,400,700');
* { margin:0; padding:0; box-sizing:border-box; }
body {
	background-color: #cccccc;
	color: #333333;
	font-family: 'Oxygen', sans-serif;
	font-size:16px;
	line-height:1.5;
}
h1 {	
	font-size: 2em;	
}
ol {
    text-align: center;
    list-style-type: none;
}
#intro {
	background-image: url("../images/header.jpg");
	background-size:cover;
	background-repeat:no-repeat;
	padding: 20em 0;
	text-align: center;
}
#slogan {
	color: #ffffff;
	font-size: 2em;
}
>>>>>>> origin/master
