* { margin:0; padding:0; box-sizing:border-box; }
body {
    background-color: #cccccc;
    color:#333;
    font-size:20px;
    font-family: Arial, Helvetica, sans-serif;
}
section {
	padding:5em 0;
}
h1 {
	font-size: 2em;
}
ol {
	padding-left:1.25em;
}
p {
	margin-top:1em;
}
.serif {
    font-family: "Times New Roman", Times, serif;
}
#slogan {
	color: #ffffff;
	width: 11em;
	display: inline-block;
}
#intro {
	background:url(../images/hayfield_header.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	font-size: 3em;
	height: 90vh;
	padding: 5em 4em 0 0;
	text-align: right;
}


